<?xml version='1.0' encoding='utf-8'?>
<widget id="com.codus.icebucketcollectchallange" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ice Bucket Collect Challange</name>
    <description>
      Ice Bucket Collect Challange game. Help Bill to collect all the ices that fall from the sky. How many can you collect? Challange your friends and be the champion.
    </description>
    <author email="appsupport@icebucketcollectchallange.com" href="http://cordova.io">
      Ice Bucket Collect Challange team
    </author>
    <plugin name="Media" value="org.apache.cordova.AudioHandler" />
    <content src="index.html" />
    <access origin="*" />
</widget>
